configuration {

	/* ------------------------------------------------------------------------ */
	/* modes config                                                             */
	/* ------------------------------------------------------------------------ */

	modi: "drun,run,window,combi";
	disable-history: true;
	kb-cancel: "Escape";

	/* ------------------------------------------------------------------------ */

	/* ------------------------------------------------------------------------ */
	/* windows appearance                                                       */
	/* ------------------------------------------------------------------------ */

	font: "Fira Code 13";
	padding: 13;

	width: 50;
	lines: 10;
	bw: 3;
	location: 0;

	/*  position:     bg       fg      bgalt    hlbg     hlfg   */
  color-normal: "#2E3440, #D8DEE9, #2E3440, #3B4252, #D8DEE9";
  color-urgent: "#2E3440, #BF616A, #2E3440, #BF616A, #A3BE8C";
  color-active: "#2E3440, #A3BE8C, #2E3440, #4C566A, #A3BE8C";
  color-window: "#2E3440, #D8DEE9, #2E3440, #2E3440, #A3BE8C";

	/* ------------------------------------------------------------------------ */
}
